* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #213547;
  background-color: #f7f7f7;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
}
